Package: com.youradinspector.tweak
Name: AdInspector
Version: 1.0.0
Architecture: iphoneos-arm
Description: 广告按钮点击分析插件 - 获取点击位置的视图层级、target-action绑定和诊断信息
Maintainer: YourName
Author: YourName
Section: Tweaks